<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="card card-danger">
      <%= t("form_contain_error") + pluralize(object.errors.count, t("error")) %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="choose-danger"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
