<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" id="my-navbar">
      <%= link_to t("e_learning_system"), root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to t("home"), root_path %>
        </li>
        <li>
          <%= link_to t("help"), "#" %>
        </li>
        <li>
          <%= link_to t("signup"), signup_path %>
        </li>
      </ul>
    </div>
  </nav>
</div>
