<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <div class="login">
        <header><%= t "admin_panel" %></header>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <%= link_to t("new_category"), new_admin_category_path,
        class: "btn waves-effect waves-light" %>
    </div>
  </div>
</div>
