<div class="container-fluid">
  <div class="row">
    <div class="col s4 push-s4">
      <div class="login">
        <header><%= t "new_category" %></header>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
