@import "materialize/components/color";
@import "materialize";
$teal-base: #009688;
$red-base: #ef5350;
body{
  font-family: Roboto;
  a:hover{
    text-decoration: none;
  }
  a{
    color:  $teal-base;
  }
}

#my-navbar{
  background-color: white;
  a:hover{
    text-decoration: none;
  }
  a{
    color:  $teal-base;
  }
}

.login{
  header{
    margin: 27px 0px;
    text-align: center;
    color: $red-base;
    font-size: 47px;
  }
  label{
    font-weight: 400;
  }
}

.avatar{
  img{
    width: 100%;
  }
}
.avatar_admin_update{
  padding-top: 43px !important;
  img{
    width: 100%;
  }
}

.hidden_list_answer{
  display: none;
  li{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.th-title{
  width: 50%;
}

.col-btn-header{
  text-align: center;
}

.card-danger{
  background-color: #ef9a9a;
}

.card-success{
  background-color: #a5d6a7;
}

.select-wrapper{
  color: $teal-base;
}

.text-center{
  text-align: center;
}
