@import "materialize/components/color";
@import "materialize";

body{
  font-family: Roboto;
  a:hover{
    text-decoration: none;
  }
  a{
    color:  #009688;
  }
}

#my-navbar{
  background-color: white;
  a:hover{
    text-decoration: none;
  }
  a{
    color:  #009688;
  }
}

.login{
  header{
    margin: 27px 0px;
    text-align: center;
    color: #ef5350;
    font-size: 47px;
  }
  label{
    font-weight: 400;
  }
}
.btn:hover{
  color: white !important;
}
.avatar{
  img{
    width: 100%;
  }
}
